@model IEnumerable<GestionaleSpedizioni.Models.Aggiornamento>

@{
    ViewBag.Title = "MostraAggiornamenti";
}

@if (TempData["Successo"] != null)
{
    <div class="alert alert-danger">
        <p>@TempData["Successo"]</p>
    </div>
}

<h2><a href="/Gestionale/DetailsCliente/@Request.QueryString["IdCliente"]" class="btn ColoreBtn2"><i class="fa-solid fa-circle-chevron-left"></i></a> Aggiornamenti spedizione</h2>


<p>
    <a href="/Gestionale/CreateAggiornamento?IdCliente=@Request.QueryString["IdCliente"]&IdSpedizione=@Request.QueryString["IdSpedizione"]" class="btn ColoreBtn"><i class="fa-solid fa-truck-fast"></i> Aggiungi un aggiornamento</a>
</p>
<table class="table">
    <tr class="RigheTabella text-white">
        <th>
            @Html.DisplayNameFor(model => model.IdAggiornamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stato)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Luogo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataAggiornamento)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="TabPoste">
            <td>
                @Html.DisplayFor(modelItem => item.IdAggiornamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Luogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAggiornamento)
            </td>
        </tr>
    }

</table>

